h1 {
  text-align: center;
  margin: 1rem 0 1.68rem 0;
}

form {
  text-align: center;
  margin-top: 2rem;
}

#submitButton {
  font-size: 23px;
}

table {
  width: 100%; 
  border-collapse: collapse; 
}

th, td {
  text-align: center;
  border: 1px solid #ddd;  
  padding: 8px;
}

th {
  text-align: center;
  background-color: #f2f2f2; 
}

.tableFormat {
  overflow-x: auto; 
}